.cart-product-brand {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.cart-product-name {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-weight: 250;
    font-size: 14px;
}

.cart-product-price {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 500px;
    text-align: right;
}

.cart-product-quantity {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-weight: 250;
}

.cart-items-container {
    margin-top: 1%;
    margin-left: 10%;
    width: 700px;
    /* height: 100px; */
}

.cart-item-container {
    display: flex;
    /* width: 500px; */
}

.cart-item-details {
    margin-top: 6%;
    margin-left: 30px;
    line-height: 110%;
    /* width: 100px; */
}

.cart-product-separator {
    /* margin-right: 50%; */
    width: 100%;
    height: 1px;
    color: rgb(255, 246, 246);
    margin-top: 2%;
}

.cart-title {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 6%;
    font-size: 25px;
}

.cart-product-image {
    margin-top: 2%;
    width: 150px;
    height: 150px;
}

.cart-container {
    display: flex;
    justify-content: space-around;
}

.checkout-container {
    /* text-align: right; */
    /* margin-left: 60%; */
    /* width: 100px;
    height: 100px; */
    /* margin-top: 12%; */
    /* padding-top: 20%; */
    width: 380px;
    height: 250px;
    background-color: transparent;
    /* padding: 1%; */
    /* padding-top: -5%; */
    /* padding-bottom: 60%; */
    /* padding-left: 12%; */
    /* padding-right: 12%; */
    border: 10px;
    border-radius: 2%;
    border-color: rgb(156, 149, 149);
    border: 1px solid rgb(140, 133, 133);
    margin-right: 8%;
    margin-top: 3%;
}


.cart-products {
    margin-top: 2%;
    margin-left: -1%;
}

/* .checkout-contents {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    margin-top: 10%;
}

.cart-products {
    margin-top: 3%;
    margin-left: 8%;
    width: 200px;
    /* height: 500px; */
/* }  */


.check-out-container-contents {
    /* display: flex; */
    /* justify-content: space-around; */
    /* font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold; */
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    margin-left: 10%;

}

.subtotal-checkout{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 300;
    line-height: 200%;
}

.shipping-checkout{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 300;
    line-height: 200%;
}

.estimated-total {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    margin-bottom: 6%;
    line-height: 200%;
}

.checkout-button {
    font-size: 14px;
    padding: 0.25em 1.125em;
    min-height: 44px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s ease 0s;
    background-color: rgb(207, 17, 44);
    display: flex;
    width: 90%;
    min-width: 5.5em;
    cursor: pointer;
    /* margin-left: 5%; */
    margin-top: 10%;
}

.checkout-break {
    margin-top: 8%;
    width: 90%;
    margin-right: 55%;
}

.remove-product {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: rgb(128, 166, 228);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8%;
    margin-top: 6%;
}

.product-quantity-selector {
    margin-top: 70%;
    padding: 15%;
    border-color: rgb(201, 193, 193);
    border-radius: 12%;
}

.bottom-item-components {
    display: flex;
}

/* .line-split {
    color: black;
    border-left: 1px solid rgb(222, 227, 222);
    height: 20px;
    margin-left: 10%;
    margin-top: 6%;
} */

.checkout-modal {
    display: flex;
    justify-content: space-between;
    /* width: 400px;
    height: 400px; */
    /* background-color: white; */
    margin-right: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    box-shadow: rgb(255 255 255) 0px 0px 2px 6px, rgb(0 0 0) 0px 0px 2px 5px;
    display: flex;
    flex-direction: column;
}

.checkout-modal-content {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* padding: 200px; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    position: absolute;
    border-radius: 5px;
    width: 400px;
    height: 420px;
    /* display: flex;
    justify-content: space-between; */
    /* background-color: white;
    border-radius: 5px;
    height: 600px;
    width: 482px;
    object-fit: contain;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
}


.checkout-first-message {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(202, 33, 33);
    margin-bottom: 2%;
    margin-top: 8%;
    margin-left: 28%;
    font-size: 30px;
}

.checkout-second-message {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(218, 22, 22);
    margin-bottom: 10%;
    margin-top: 2%;
    margin-left: 23%;
    font-size: 20px;
}
.checkout-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-bottom: 10%;
    margin-top: 8%;
    margin-left: 24%;
    font-size: 30px;
}

.exit-modal-button {
    /* margin-bottom: 1%; */
    margin-top: 5%;
    margin-left: 33%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 150px;
    z-index: 999;
}

.modal-button-confirm {
    font-size: 12px;
    /* padding: 0.25em 1.125em; */
    min-height: 44px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s ease 0s;
    background-color: rgb(207, 17, 44);
    display: flex;
    width: 80%;
    min-width: 5.5em;
    cursor: pointer;
}

.end-checkout-message {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-bottom: 1%;
    margin-left: 14.5%;
    font-size: 20px;
}

.end-linkedin {
    width: 70px;
    height: 70px;
}

.end-github {
    width: 70px;
    height: 70px;
}

.icon-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}

.checkout-name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    margin-top: -9%;
    margin-left: 41%;
}

.subtotal {
    margin-left: 27%;
}

.total {
    margin-left: 34.5%;
}

.shipping {
    margin-left: 25%;
}