.review-form-name {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    margin-bottom: 1%;

}

.review-form-title {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-left: 2%;

}

.review-form-rating {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-left: 2%;

}

.review-form-comment {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-left: 2%;

}

.review-form-button {
    font-size: 12px;
    /* padding: 0.25em 0.875em; */
    min-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    /* line-height: 1; */
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease 0s;
    display: flex;
    width: 130px;
    height: 30px;
    min-width: 5.5em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
}

.title-box {
    margin-left: 2%;
    width: 180px;
    height: 30px;
}

.rating-box {
    margin-left: 2%;
    width: 50px;
    height: 30px;

}

.comment-box {
    margin-left: 2%;
    width: 400px;
    height: 30px;
}

.review-button-container {
    margin-top: 2%;
}

.review-form-message {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.error {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgb(164, 17, 17);
    margin-top: 1%;
    margin-left: 1%;
}

.update-success {
    margin-top: 1%;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 18px;
}