.bar-logo-linkedin {
    width: 80px;
    height: 80px;
    opacity: 50%;
    margin-left: 750%;
    margin-top: 12%;
    /* z-index: -1000; */
}

.bar-logo-github {
    width: 80px;
    height: 80px;
    margin-left: 850%;
    margin-top: 12%;
}

.bottom-bar-container {
    margin-top: 8%;
    width: 100%;
    height: 100px;
    background-color: black;
}

.bottom-bar-container {
    display: flex;

}