.home-title {
    padding-right: 2em;
    padding-left: 4em;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}


.top-line {
    background-color: rgb(192, 220, 241);
    min-height: 48px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    width: 100%;
}
  
.top-line-text {
    margin: auto;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 14px;
}

.home-link {
    padding: 30px;
    font-size: x-large;
}

.home-links-container {
    display: flex;
    align-items: center;
}


.search-bar,
.signin {
  margin-left: 200px;
  margin-top: -1.65%;
}

.signin {
    margin-left: 30px;
}

.search-bar {
    padding-left: -50%;
}

.category-bar {
    background-color: black;
    /* min-height: 50px; */
    display: flex;
    width: 100%;
}

.profile-dropdown {
    position: absolute;
    z-index: 999;
}

.category-bar{
    display: flex;
    justify-content: space-between;
}

.category-names {
    text-decoration: none;
    color: white;
}
  
.categories{
    list-style: none;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.categories li {
    flex: 1;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 240;
    font-size: 14px;
    margin-left: 1.2%;
    margin-right: 1%;
}

.heart-icon {
    padding: 0%;
    margin: -1%;
    margin-left: 3%;
    margin-bottom: -2%;
    margin-top: -3%;
}

.community {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: -10px;
    margin-top: -30px;
    font-weight: 400;
}


.vl {
    border-left: 0.1px solid rgb(220, 223, 233);
    height: 40px;
    margin-left: 30px;
    margin-bottom: -10px;
    margin-top: -30px;
}

.login-button button {
    font-size: 12px;
    /* padding: 0.25em 0.875em; */
    min-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease 0s;
    display: flex;
    width: 130px;
    height: 30px;
    min-width: 5.5em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;

  }
  
.sign-up button {
    font-size: 12px;
    /* padding: 0.25em 0.875em; */
    min-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(0, 0, 0);
    border-color: black;
    transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: flex;
    width: 130px;
    height: 30px;
    min-width: 5.5em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;

}

.hidden {
    display: none;
}

.user-dropdown {
    z-index: 999;
    padding-left: 1%;
    margin-top: 1%;
    width: 300px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;

}

.buttons {
    display: flex;
    /* width: 100%; */
    overflow: hidden;
    white-space: pre-line;
    /* margin-left: 5%; */
    align-items: center;
    padding-top: 5%;
    justify-content: space-between;
}

.drop-message {
   padding: 4%;
   padding-top: 6%;
}

.user-profile-img {
    padding-top: 5px;

}

.button-box {
    background-color: transparent;
}

.profile-signin-message {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.free-shipping-signin {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 11px;
}

.profile-message-container {
    line-height: 12px;
    margin-bottom: -10px;
    margin-top: -30px;
}

.logout-button {
    font-size: 12px;
    /* padding: 0.25em 0.875em; */
    min-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: background-color 0.2s ease 0s;
    display: flex;
    width: 140px;
    height: 30px;
    min-width: 5.5em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
}

.logout-dropdown {
    padding-left: 1%;
    margin-top: 1%;
    width: 275px;
    height: 125px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    line-height: 160%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px;

}

.user-message {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    line-height: 300%;
    font-size: 20px;
    margin-bottom: -5%;
}

.demo-login-button {
    font-size: 13.5px;
    /* padding: 0.25em 0.875em; */
    min-height: 32px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(0, 0, 0);
    border-color: black;
    transition: color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: flex;
    width: 205px;
    height: 45px;
    min-width: 5.5em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
    margin-top: 10px;
}

.wrapper {
    position: relative;
}
#left-arrow {
    z-index: 999;
    top: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: white;
    border-radius: 50%;
    left: -5px;
    transform: translateY(-50%);
}

#right-arrow {
    z-index: 999;
    top: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: rgb(255, 254, 254);
    border-radius: 50%;
    right: -5px;
    transform: translateY(-50%);
}

.wrapper .carousel {
    /* white-space: nowrap; */
    /* overflow: hidden; */
    cursor: pointer;
    font-size: 0px;
    /* width: 100%; */
    display: flex;
}

/* .carousel div {
    height: 340px;
    object-fit: cover;
    margin-left: 12px;
    width: calc(100% /3);
    user-select: none;

} */

.image-div {
    margin-left: 10px;
    /* width: calc(100% /3); */
}
.image-div img {
    height: 340px;
    /* object-fit: cover; */
    /* margin-left: 15px; */
    user-select: none;
    /* padding-right: 20%; */
    /* float: left; */
    margin-right: 15px;
    margin-top: 15px;
}

.carousel img:first-child {
    margin-left: -10px;
}

/* @media screen and (max-width: 900px){
    .carousel img {
        width: calc(100% /2);
    }
}

@media screen and (max-width: 500px){
    .carousel img{
        width: 100%;
    }
} */

.image-des1 {
    width: 510.5px; 
    background-color: rgb(250,205,82); 
    color: black;
    /* margin-top: 68%;
    margin-left: -2%; */
    height: 150px;
    /* object-fit: cover; */
    /* margin-left: 15px; */
    user-select: none;
    /* padding-right: 20%; */
    float: left;
    /* margin-right: 15px; */
    /* margin-top: 15px; */
    font-size: 10px;
    margin-left: -2%;
}

.image-des2 {
    width: 510.5px; 
    background-color: rgb(250,233,156); 
    color: black;
    height: 150px;
    user-select: none;
    float: left; 
    font-size: 10px;
    margin-left: -2%;
}

.image-des3 {
    width: 510.5px; 
    background-color: rgb(246,109,137); 
    color: black;
    height: 150px;
    user-select: none;
    float: left; 
    font-size: 10px;
    margin-left: -2%;
}

.image-des4 {
    width: 451.5px;  
    background-color: rgb(248,164,57); 
    color: black;
    height: 150px;
    user-select: none;
    float: left; 
    font-size: 10px;
    margin-left: -2%;
    object-fit: cover;
}

.image-des5 {
    width: 510.5px; 
    background-color: rgb(250,233,156); 
    color: black;
    height: 150px;
    user-select: none;
    float: left; 
    font-size: 10px;
    margin-left: -2%;
}

.image-des6 {
    width: 510.5px; 
    background-color: rgb(251,205,204); 
    color: black;
    height: 150px;
    user-select: none;
    float: left; 
    font-size: 10px;
    margin-left: -2%;
}

.des-main {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 4%;
    font-weight: bold;
}

.des-below {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-size: 14px;
    margin-left: 4%;
    margin-top: 1.5%;

}

.bottom-bar {
    color: white;flex: 1;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 240;
    font-size: 14px;
    margin-left: 1.2%;
    margin-right: 1%;
}

.bottom-bar-container {
    width: 100%;
    height: 400px;
    background-color: black;
}

.product-container {
    /* padding: 40%; */
    padding: 10%;
    /* width: 600px; */
    /* height: 500px; */
    margin-left: 20%;
    margin-top: 20%;
    text-decoration: none;
    margin-bottom: -40%;
}

.product-image-index {
    width: 240px;
    height: 260px;
}
.product-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-index-brand {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    /* font-weight: bold; */
    color: black;
    margin-bottom: 2%;
    font-size: 14px;
    font-weight: 850;
}

.product-index-name{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 350;


}
.product-index-price {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;

}

.product-image-show {
    width: 400px;
    height: 400px;
    margin: 10%;
}

.product-brand-show {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-top: 25%;
    font-weight: bold;
}

.product-name-show {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-top: 1%;
}

.product-price-show {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-top: 5%;
}

.des-title-show {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-top: 10%;
    font-weight: bold;
}

.product-description-show {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    margin-top: 2%;
}

.product-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3%;
}

.info-container { 
    width: 220px; 
    height: 100px;
} 

.index-title {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 3%;
} 

.show-title {
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: -4%;
} 

.product-showing {
    word-wrap: break-word;
    width: 50%;
    align-items: center;
    margin-top: 5%;
}

.product-add {
    margin-top: 15%;
    font-size: 14px;
    padding: 0.25em 1.125em 0.25em 58px;
    min-height: 44px;
    font-weight: var(--font-weight-bold);
    border-width: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 99999px;
    appearance: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.2s ease 0s;
    background-color: rgb(207, 17, 44);
    width: 100%;
    min-width: 10.47em;
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    font-weight: 500;
}

.add-button-words {
    margin-left: -22%;
    margin-bottom: 1%;
}

.shipping-button-words {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 250;
    font-size: smaller;
    /* line-height: -2%; */
    margin-top: 2%;
}

